.details-wrapper .form-wrapper {
  margin-bottom: 1rem;
}

.details-wrapper .form-wrapper label {
  text-transform: uppercase;
}

.details-wrapper .form-wrapper:last-child {
  border: 0;
  padding-bottom: 0;
}

.field--widget-entity-reference-paragraphs {
  margin-bottom: 2rem;
}
